table {
  border-collapse: collapse;
  width: 100%;
  float: left;
  width: 70%;
  font-size: 14px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-content:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.selected-person {
  float: left;
  margin-left: 30px;
}
