.people-list-table {
  border-collapse: collapse;
  table-layout: fixed;
  float: left;
  width: 60%;
  font-size: 14px;
}

.people-list-table th,
.people-list-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-content:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.card {
  float: left;
  margin-left: 30px;
  margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 400px;
  height: 350px;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.card-table {
  margin-top: 15px;
  border-collapse: collapse;
  table-layout: fixed;
  float: left;
  font-size: 14px;
}

.card-table th,
.card-table td {
  text-align: left;
  padding: 8px;
}
